<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
        <listener class-name="reports.TestListener"/>
    </listeners>
    
  <test name="Course Module" enabled="false">
        <classes>
            <class name="module.Course"/>
        </classes>
    </test> <!-- Test -->
    
    <test name="module.Contents">
        <classes>
            <class name="module.Contents"/>
        </classes>
    </test> <!-- Test -->
    
     <test name="module.Lessons">
        <classes>
            <class name="module.Lessons"/>
        </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
