<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
        <listener class-name="reports.TestListener"/>
    </listeners>
    
  <test name="Course Module" enabled="false">
        <classes>
            <class name="module.Course"/>
        </classes>
    </test> <!-- Test -->
    
    <test name="module.Contents" enabled="false">
        <classes>
            <class name="module.Contents"/>
        </classes>
    </test> <!-- Test -->
    
     <test name="module.Lessons" enabled="false">
        <classes>
            <class name="module.Lessons"/>
        </classes>
     </test> <!-- Test -->
     
     <test name="Quizzes Module" enabled="false">
        <classes>
            <class name="module.Quizzes"/>
        </classes>
     </test> <!-- Test -->
     
      <test name="Questions Module" enabled="false">
        <classes>
            <class name="module.Questions"/>
        </classes>
     </test> <!-- Test -->
     
     <test name="User Module" enabled="true">
        <classes>
            <class name="module.UserModule"/>
        </classes>
     </test> <!-- Test -->
</suite> <!-- Suite -->
